<div class="card card-body w-50 m-3 mx-auto bg-light text-center">
    <div class="d-flex align-items-center">
        <%= avatar shout.user %>
        <div class="mx-3">
            <a class="link-secondary">@<%= link_to shout.username, shout.user, class: "link-secondary" %></a>
        </div>
    </div>
    <div>
        <%= render shout.content %>
        <div class="d-flex justify-content-end align-items-center mt-3">
            <%= link_to shout, class:"link-secondary mx-2" do %>
                <%= time_ago_in_words(shout.created_at) %> ago
            <% end %>

            <%= like_button(shout) %>
        </div>
    </div>
</div>