<div class="text-field mb-3 d-grid">
  <%= form.label :email %>
  <%= form.email_field :email, class: "w-100" %>
</div>

<div class="text-field mb-3 d-grid">
  <%= form.label :username %>
  <%= form.text_field :username, class: "w-100" %>
</div>

<div class="password-field mb-3 d-grid">
  <%= form.label :password %>
  <%= form.password_field :password, class: "w-100" %>
</div>