<div class="container w-25">
  <div id="clearance" class="password-reset d-grid mt-5 p-3 card bg-light">
    <h2><%= t(".title") %></h2>

    <p><%= t(".description") %></p>

    <%= form_for :password, url: passwords_path do |form| %>
      <div class="text-field mb-3 d-grid">
        <%= form.label :email %>
        <%= form.email_field :email %>
      </div>

      <div class="submit-field  d-flex justify-content-center">
        <%= form.submit class: "btn btn-dark m-1" %>
      </div>
    <% end %>
  </div>
</div>